.To
{
	position:fixed;
	top:0px;
	width:100%;
	left:0px;
}
a:link {
    color: white;
}
table{
background-image: url("uffhjmb.jpg");
color: yellow;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	background-color: green;
	color: white;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: left;
    padding: 12px 30px;
    text-decoration: None;
}

li a:hover {
    background-color: grey;
}
h1 { 
    display: block;
    font-size: 50px;
	color: white;
    margin-top: 0 em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h2 { 
    display: block;
    font-size: 30px;
	color:grey;
    margin-top: 0.61em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
}
h3{ 
    display: block;
    font-size: 30px;
	color:grey;
    margin-top: 0.61em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
}
h4 { 
    display: block;
    font-size: 20px;
	color:yellow;
    margin-top: 0.61em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
}
p1 { 
    display: block;
    font-size: 20px;
	color:white;
    margin-top: 0.61em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
}
body { 
    background-image:G:\Images\Game of thrones\Wallpapers\bbbcxxmmm.jpg;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: cover;
}
.vertical-menu {
    width: 300px; /* Set a width if you like */
}

.vertical-menu a {
    color: white; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: None; /* Remove underline from links */
	
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: red; /* Add a green color to the "active/current" link */
    color: white;
	}
.vertical-menu {
    width: 200px;
    height: 300px;
	/*position:;top:10%;left:0%;
    overflow-y: ;*/
	margin-top:5%;
}
.c
{
color: white;
background-color: black;
/*position:absolute;top:10%;left:18%;right:25%;*/
margin-left:18%;
margin-right:25%;
margin-top:-23%;
}
.d
{
color: white;
position:fixed;top:10%;left:78%;
font-size:30px;
}
.d a:hover
{
	background-color:blue;
}